.clear {
  @include clear();
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.frame-wrapper {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 72.25%;
  z-index: 1;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.hide {
  display: none;
}

.block {
  display: block;
}

.button {
  @include button();
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  @include clear();
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 rem(12);
  @include clear();

  @include bp(full) {
    padding: 0;
  }
}

.wai-aria {
  @include text-wai();
}

input[type=text],
input[type=email],
input[type=number],
input[type=tel] {
  font-size: rem(14);
  border: 1px solid #adacac;
  width: 100%;
  padding: rem(7) rem(14);
}

.text-hide {
  @include text-hide();
}