$bp: (
    phone: 480,
    tablet-s: 600,
    tablet: 760,
    tablet-l: 800,
    desk: 900,
    desk-l: 1080,
    full: 1280
);

$browser-context: 16;

$font-stack : Arial, Helvetica, sans-serif;
$title-stack: Georgia, Arial, Helvetica, sans-serif;
$navy: #093c6f;
$blue: #007ac4;
$gray: #474747;